<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ListViewGridViewTest.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ListViewGridViewTest.MySettings.VDIS_BHI_betaConnectionString1"
            connectionString="Data Source=ctapsvr17\dev2016;Initial Catalog=VDIS_BHI_beta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ListViewGridViewTest.MySettings.VdisConnectionString"
            connectionString="Data Source=ctapsvr17\dev2016;Initial Catalog=VDIS_BHI_beta;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <ListViewGridViewTest.MySettings>
            <setting name="DefaultConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="UserConfig" serializeAs="String">
                <value>[
	{"ColumnName":"grcQuoteStatus","ColumnHeader":"Q","DefaultDisplayIndex":0,"DefaultWidth":20.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":0,"IsHidden":false},
	{"ColumnName":"grcFsoStatus","ColumnHeader":"F","DefaultDisplayIndex":1,"DefaultWidth":24.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":1,"IsHidden":false},
	{"ColumnName":"grcJobApprovedStatus","ColumnHeader":"Ap","DefaultDisplayIndex":2,"DefaultWidth":24.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":2,"IsHidden":false},
	{"ColumnName":"grcYear","ColumnHeader":"Year","DefaultDisplayIndex":3,"DefaultWidth":40.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":3,"IsHidden":false},
	{"ColumnName":"grcPeriod","ColumnHeader":"Period","DefaultDisplayIndex":4,"DefaultWidth":40.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":4,"IsHidden":false},
	{"ColumnName":"grcJobOrderId","ColumnHeader":"Job Order ID","DefaultDisplayIndex":5,"DefaultWidth":80.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":5,"IsHidden":false},
	{"ColumnName":"grcDistrict","ColumnHeader":"District","DefaultDisplayIndex":6,"DefaultWidth":140.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":6,"IsHidden":true},
	{"ColumnName":"grcCustomer","ColumnHeader":"Customer","DefaultDisplayIndex":7,"DefaultWidth":180.0,"CanUserReorder":false,"CanUserSetVisibility":false,"DisplayIndex":8,"IsHidden":false},
	{"ColumnName":"grcWellName","ColumnHeader":"Well Name","DefaultDisplayIndex":8,"DefaultWidth":140.0,"CanUserReorder":true,"CanUserSetVisibility":true,"DisplayIndex":9,"IsHidden":false},
	{"ColumnName":"grcServices","ColumnHeader":"Services","DefaultDisplayIndex":9,"DefaultWidth":140.0,"CanUserReorder":true,"CanUserSetVisibility":true,"DisplayIndex":10,"IsHidden":false},
	{"ColumnName":"grcSalesRep","ColumnHeader":"Sales Person","DefaultDisplayIndex":10,"DefaultWidth":140.0,"CanUserReorder":true,"CanUserSetVisibility":true,"DisplayIndex":7,"IsHidden":false}
]
</value>
            </setting>
        </ListViewGridViewTest.MySettings>
    </userSettings>
</configuration>